.background {
  width: 100%;
  height: 100%;
}

.box {
  background-image: url('/download.jpg');
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
}

.header {
  font-size: 40px;
  color: #11437d;
  padding-left: 14rem;
  padding-top: 16px;
}

.page {
  font-size: 30px;
  color: #11437d;
  padding-left: 10rem;
}

.headbox {
  padding: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: auto;
  width: 350px;
  margin-left: 15rem;
  border-radius: 8px;
}

.React {
  display: flex;
}

.round {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #f09103;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  margin: auto;
  margin-right: 45rem;
  text-align: center;
}

.dropdown {
  background-color: #d0dcea;
  border-radius: 4px;
  height: 56px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 1px;
}

.tick {
  width: 20px;
}

.flex {
  display: flex;
  width: 300px;
}

.topheader {
  padding-top: 5rem;
}

.param {
  color: #11437d;
  padding-left: 5px;
}

.arrow {
  padding-left: 0.125rem;
  height: 20px;
}
.head {
  border-radius: 8px;
  background-color: #c07402;
  color: white;
  box-sizing: border-box;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.start {
  font-size: 16px;
  width: 12rem;
}
.form {
  padding-top: 0.5rem;
  font-size: 14px;
}

.ping {
  display: flex;
}

.uber {
  font-size: 14px;
}

.btn {
  box-sizing: border-box;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 8px;
  background-color: #d0dcea;
  padding-top: 0.9rem;
}
.aus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #d0dcea;
  margin: auto;
  padding-top: 0.5rem;
}
.uber {
  font-size: 12px;
}
.price {
  color: black;
  font-size: 16px;
}

.play {
  color: #1760b4;
}

.jahn {
  font-size: 12px;
  color: #11437d;
}

.boss {
  padding-bottom: 0.5rem;
}

.react {
  padding: 12px 46px;
}

